/* Body */
body {
  margin: 0 auto;
  width: 950px;
  font-family: "Inter", sans-serif;
  color: #343a40;
}

/* Native Style */
h1 {
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 1;
}
h2 {
  font-size: 2.1rem;
}
h3 {
  font-size: 1.2rem;
}
img {
  border-radius: 20px;
}
button {
  background-color: #087f5b;
  color: aliceblue;
  border: none;
  text-decoration: none;
  border-radius: 100px;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}
button:hover {
  background-color: #099268;
}
p {
  font-size: 1.2rem;
  line-height: 1.7;
}

/* header */
header {
  margin-top: 60px;
  display: flex;
  gap: 100px;
  align-items: center;
}
header img {
  width: 450px;
}

/* Main */
main section {
  margin-top: 50px;
}
.special {
  display: flex;
}

/* Quotes */
.quotes {
  background-color: #087f5b;
  padding: 20px;
  color: aliceblue;
  display: grid;
  grid-template-columns: 0.9fr 1.5fr;
  align-items: center;
  column-gap: 80px;
  border-radius: 20px;
}
.quotes img {
  width: 100%;
}
.quotes h2 {
  font-size: 1.5rem;
}

/* Card Section */
.best_selling {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}
.best_selling section > img {
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.best_selling section {
  border-radius: 20px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
}
.best_selling div {
  display: flex;
}
.best_selling div img {
  width: 25px;
  margin-left: 10px;
}
.best_selling h4 {
  margin-left: 50px;
}
.best_selling p {
  font-size: 1rem;
  line-height: 1;
  margin-left: 10px;
}
.best_selling .price-box {
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}
